:root {
    --dashboard-logo-section-height: 50px;
    --border-radius: 0.5rem;
}

body > * {
    padding: 1rem;
}

p {
    margin: 0px;
}

.main-content-container {
    background-color: #E2E8F0;
}

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

body {
    height: 100dvh;
    display: grid;
    grid-template: 225px 1fr / 300px 1fr;
    grid-template-areas: 
    "dashboard nav"
    "dashboard main_content";
}

.dashboard-container {
    background-color: #38bdf8;
    grid-area: dashboard;
    display: grid;
    grid-template-rows: var(--dashboard-logo-section-height) 1fr;
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
}

.navigation, .nav2 {
    margin-top: 4rem;
}

ul {
    list-style-type: none;
    margin-bottom: 1rem;
    margin-top: 0px;
    padding-left: 0px;
}

li {
    padding: 0.5rem 0px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

li > *:hover {
    cursor: pointer;
}

li > img {
    padding-right: 1rem;
}

.header-container {
    display: grid;
    grid-template-rows: var(--dashboard-logo-section-height) calc(175px - var(--dashboard-logo-section-height));
    grid-template-columns: 1fr minmax(250px, 400px);
    padding: 2rem;
    padding-bottom: 0px;
    z-index: 1;
    box-shadow: 0px 10px 13px -9px rgba(0,0,0,0.75);

}

.user-hello {
    display: flex;
    align-items: center; 
    gap: 2rem; 
    font-weight: 500; 
    width: 80%;
}

#user-tag {
    font-size: 2rem;
    min-width: 200px;
}

.user-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}

.user-buttons, .user-hello {
    height: 80%;
}

.user-info {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
}

input[type=search] {
    flex-grow: 1;
}

.main-content-container {
    display: grid;
    grid-template: 
    "projects announcements" auto
    "projects trending" auto
    / 1fr 300px;
    gap: 2rem 1rem;
    padding-top: 2rem;
    padding-right: 3rem;
}

#your-projects {
    padding-left: 2rem;
}

.projects-container {
    grid-area: projects;
}

.projects-container > .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    padding: 2rem;
    padding-top: 1rem;
}

.card {
    height: 250px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    padding: 1.5rem 1rem;
    border: none;
    border-left: 0.5rem solid orange;
}
.card:hover {
    scale: 1.01;
}


/* Hide the scroll bar on the cards */
.card-body {
    flex-grow: 1;
    overflow: scroll;
    scrollbar-width: none;
}

.card-body::-webkit-scrollbar {
    display: none;
}

.card-footer {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding-right: 1rem;
}

.announcements-container {
    display: flex;
    flex-direction: column;
}

.announcements-div, .trending-div-container, .card {
    border-radius: var(--border-radius);
} 

.trending-container {
    display: flex;
    flex-direction: column;
}

.trending-container > .trending-div, .announcements-container > .announcements-div {
    flex-grow: 1;
    padding: 1rem;
    margin: 1rem 0px;
}

hr {
    background-color: grey;
    height: 1px;
    border: none;
}

.trending-div-container {
    padding: 1rem;
    margin: 1rem 0px;
}

.trending-div {
    display: flex;
    justify-content: center;
    align-items: start;
    transition: 0.5s;
    border-radius: var(--border-radius);
}

.trending-div > * {
    margin: 0.5rem;
}
h4 {
    margin: 2px;
    font-weight: 500;
}

h3 {
    margin: 4px 0px;
    font-size: 1.4rem;
}

.circle {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.circle-small {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.circle > img, .circle-small > img {
    width: 70%;
}

.dinosaur {
    background-color: rgb(255, 179, 0);
}

.aquarium {
    background-color: aliceblue;
}

.bear {
    background-color: rgb(255, 255, 113);
}

.bee {
    background-color: rgb(244, 105, 105);
}

.shiba {
    background-color: rgb(196, 249, 116);
}

.icons {
    width: 1.5rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0px;
    font-size: 2rem;
    font-weight: 700;
}

.logo > *:hover {
    cursor: pointer
}

.logo-icon {
    width: 3rem;
}

.card, .announcements-div, .trending-div-container {
    background-color: white;
    box-shadow: 11px 11px 44px -16px rgba(0,0,0,0.75);
}

input[type="search"] {
    background-color: #E2E8F0;
    border-radius: 1rem;
    border: none;
    height: 2rem;
    caret-color: #00000091;
    padding: 0.5rem;
    padding-left: 2.5rem;
    font-size: 1.2rem;
    max-width: 1200px;
    transition: 0.3s;
}

input[type="search"]:hover, input[type="search"]:focus {
    background-color: #f0f2f4;
    border: 2px solid blue;
}

.search-bar {
    position: relative;
}

#search-icon {
    position: absolute;
    left: 0.8rem;
}

.user-buttons > button {
    padding: 0.6rem 1.8rem;
    font-weight: 700;
    font-size: 1.1rem;
    color: white;
    background-color: #36b3e8;
    border-radius: 2rem;
    border: none;
    margin: 0px 0.8rem;
}

.user-buttons > button:hover {
    cursor: pointer;
    background-color: #36b3e8ce;
}

.user-info > *:hover {
    cursor: pointer;
}

.trending-div:hover {
    scale: 1.05;
    background-color: rgba(128, 128, 128, 0.091);
}